.constructions
{
    width: 100%;
    height: 988px;
    background-image: url("../src/images/aboutUs/background.svg");
    margin-top: 20px;
}

.container
{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    align-items: center;
}

.text
{
    margin-left: 340px;
    padding-top: 220px;
    display: flex;
    flex-direction: column;
}
.companyName
{
    color: white;
    font-weight: 700;
    width: 577px;
    height: 188px;
    font-size: 72px;
}
.x
{
    color: #FF5A30;
    font-weight: 700;
}
.latinText
{
    color: white;
    line-height: 30px;
    font-weight: 400;
    font-size: 20px;
}

.learn_and_submit
{
    display: flex;
    gap: 24px;
    margin-left: 340px;
    margin-top: 45px;
    color: white;
    font-size: 16px;
    height: 52px;
}

.learn_more
{
    width: 278px;
    border-color: white;
    border:1px;
    border-style: groove;
    border-radius: 4px;
}

.pages
{
    display: flex;
    gap: 12px;
    margin-left: 340px;
    margin-top: 200px;
    height: 54px;
    width: 724px;
}

.pages > a
{
    color: white;
    min-height: 54px;
    min-width: 178px;
    border-bottom: 2px groove white;
    opacity: 60%;
}

.pages > a:focus
{
    opacity: 100;
}

.video
{
    width: 1230px;
    height: 671px;
    margin-top: 120px;
    text-align: center;
    display: flex;
    flex-direction: column;
}

h1
{
    font-size: 46px;
    line-height: 60px;
    color: #1E212C;
    
}

.video > span
{
    font-weight: 400;
    font-size: 18px;
    margin-top: 20px;
}

.video > img
{
    margin-top: 50px;
}

.values
{
    width: 1230px;
    height: 359px;
    margin-top: 120px;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.values > span
{
    font-weight: 400;
    font-size: 18px;
    margin-top: 20px;
}
.advantages
{
    display: flex;
    margin-top: 40px;
    gap: 170px;
}
.advantage
{
    max-width: 285px;
    height: 188px;
}

.advantage > p
{
    width: 285px;
    padding-top: 15px;
    display: block;
    line-height: 26px;
    color: #787A80;
    white-space: normal;
    font-weight: 400;
}

.advantage > h2
{
    line-height: 30px;
    color: #1E212C;
    font-size: 20px;
}

.advantage > img
{
    padding-bottom: 20px;
    width: 48px;
    height: 48px;
}

.requestForm
{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1230px;
    height: 243px;
    padding-top: 50px;
    background-color: white;
    position: relative;
}

.requestForm > h1
{
    font-size: 28px;
}

.inputForm
{
    display: inline-block;
    margin-left: 25px;
    font-weight: 400;
    color: #424551;
}

.ourServices
{
    height: 880px;
    width: 1920px;
    background-image: url("../src/images/aboutUs/background2.svg");
    margin-top: -110px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 190px;
}

.ending > h2
{
    font-size: 28px;
    line-height: 42px;
    color: #1E212C;
}
.ending
{
    display: flex;
    margin-top: 90px;
    
}

.ourServices > p
{
    font-weight: 400;
    color: #787A80;
    font-size: 18px;
    line-height: 27px;
    margin-top: 20px;
}

.serviceCard
{
    display: flex;
    gap: 30px;
    margin-top: 65px;
}

.card
{
    width: 285px;
    aspect-ratio: 1/1;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #1E212C;
    gap: 20px;
}

.card, .card_back > h2
{
    color: white;
    font-size: 20px;
    line-height: 30px;
}

.card_back
{
    background-image: url("../../images/aboutUs/image.svg");
    width: 285px;
    aspect-ratio: 1/1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    gap: 20px;
}

.browse_our_selected
{
    width: 1242px;
    height: 752px;
    display: flex;
    flex-direction: column;
    margin-top: 120px;
}

.browse_our_selected > h1
{
    white-space: normal;
    width: 705px;
    margin-bottom: 50px;
}
.buildings
{
    display: flex;
    gap: 20px;
    
}
.building
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    height: 440px;
    width: 390px;
    border: 1px white;
    border-radius: 4px;
    box-shadow: 0px 4px 4px -4px #1E212C08;
    box-shadow: 0px 12px 10px -6px #9A9CA50A;
    box-shadow: 0px 30px 24px -10px #9A9CA50D;
    box-shadow: 0px 80px 80px -20px #9A9CA514;
}

.building > button
{
    width: 172px;
    height: 44px;
    border: 1px groove #FF5A30;
    color: #FF5A30;
    border-radius: 4px;
}

.browse_our_selected_final
{
    display: flex; 
    align-items: center;
    justify-content: center;
    gap: 40px;
    margin-top: 50px;
    font-size: 28px;
    line-height: 42px;
}

.browse_our_selected_final > h2
{
    color: #1E212C;
}

.supportedBy
{
    background-color: #F4F5F6;
    width: 1920px;
    height: 934px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 80px;
}

.supportedLogo
{
    width: 1230px;
    margin-top: 50px;
    display: flex;
    gap: 100px;
}
.supportedLogo > img
{
    width: 120px;
    height: 60px;
}

.clientProfile
{
    margin-top: 170px;
    width: 1230px;
}

.testimonials-carousel
{
    width: 600px;
    height: 249px;
    margin-top: 60px;
}

.testimonials-carousel > p
{
    white-space: normal;
    font-weight: 400;
    color: #424551;
    line-height: 25.6px;
    margin-top: 25px;
}

.clientName
{
    font-weight: 700;
    font-size: 16px;
    color: #1E212C;
}

.nameAndPosition > p
{
    color: #787A80;
    font-weight: 400;
}

.changeDescriptions
{
    justify-content: space-between;
    display: flex;
    align-items: center;
    margin-top: 25px;
}

.descriptionButtons
{
    display: flex;
    gap: 15px;
    margin-top: auto;
}

.someFacts
{
    width: 1920px;
    height: 1350px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 120px;
}
.someFacts > img
{
    position: absolute;
    width: 859px;
    height: 1066px;
    transform: rotate(-127deg);
    right: 1700px;
    margin-top: -560px;
}

.figureAndText
{
    width: 148px;
    height: 189px;
}

.figure__green, .figure__orange, .figure__blue, .figure__pink
{
    width: 148px;
    aspect-ratio: 1/1;
    border: 6px solid red;
    border-radius: 50%;
}